* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	cursor: default;
	font-family: Microsoft YaHei;
	text-decoration: none;
}

body * {
	overflow: hidden;
}

input {
	outline: none;
}
@media screen and (max-width: 1440px) and (min-width: 0px) {
	.container {
		width: 1200px;
	}
	.left,.project_name {
		width: 200px;
	}
	.center {
		width: 1000px;
	}
	li {
		font-size: 16px;
		padding-left: 15px;
	}
	.title_max {
		font-size: 22px;
	}
}

@media screen and (max-width: 1680px) and (min-width: 1441px) {
	.container {
		width: 1300px;
	}
	.left {
		width: 250px;
	}
	.center {
		width: 1050px;
	}
}

@media screen and (max-width: 1920px) and (min-width: 1681px) {
	.container {
		width: 1500px;
	}
	.left {
		width: 300px;
	}
	.center {
		width: 1200px;
	}
}

/**spacial CSS code*/
.click_01 {
	cursor: hand;
}

.click_01:hover {
	color: RGB(227, 50, 27);
}

.text_s {
	text-shadow: 2px 2px white;
}

.text_light {
	text-shadow: 0 0 10px #ffffff, 0px -6px 10px rgba(255, 255, 255, 0.3), 0
		6px 10px rgba(255, 255, 255, 0.3);
}

.green_btn {
	cursor: pointer;
	text-align: center;
	border: 1px solid #6d8f29;
	background: -webkit-linear-gradient(top, #adda4d, #86b846);
	background: -webkit-linear-gradient(top, #adda4d, #86b846);
	box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset, 0 1px 0
		rgba(0, 0, 0, .2);
}

.greend_btn { /**background: #8ab923;*/
	
}

/**content CSS code*/
body {
	text-align: center;
}

.container {
	display: inline-block;
}

.head_071 {
	height: 150px;
	position: relative;
}

.top_msg {
	position: absolute;
	right: 0px;
	bottom: 0px;
	height: 45px;
	text-align: right;
	line-height: 45px;
}

.top_msg span {
	display: inline-block;
	height: 45px;
	line-height: 45px;
	vertical-align: top;
	padding: 0px 8px;
	font-size: 14px;
}

.user_name {
	padding: 0px;
	color: #333333;
}

.c_071 {
	height: 100%;
	display: inline-block;
	vertical-align: top;
}

.content {
	white-space: nowrap;
	border: 1px solid RGB(237, 237, 239);
}

.portraint {
	padding-top: 75%;
	position: relative;
}

.po_child {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	text-align: center;
	height: 100%;
	/**border: 1px solid RGB(240, 240, 250);*/
}

.ease_in {
	height: 0px;
}

.guid {
	height: 45px;
	position: relative;
	text-align: left;
}

.right_float {
	position: absolute;
	left: 400px;
	top: 0px;
	height: 100%;
}

.guid_01 {
	display: inline-block;
	height: 45px;
	color: #333333;
	line-height: 45px;
}

.guid_02:nth-child(1) { /**font-weight: bold;*/
	text-align: center;
	letter-spacing: 3px;
	text-shadow: 1px 3px white;
}

.guid_02:nth-child(2) {
	font-size: 15px;
	text-align: center;
	height: 40px;
	vertical-align: top;
	padding: 0px 2px;
	border-top: 13px;
}

.guid_03 {
	font-size: 14px;
	width: 58px;
	height: 100%;
	line-height: 45px;
	text-align: center;
}

.guid_03:nth-child(1) {
	background: url(../../../../resources/images/233429458789.png) no-repeat
		right 50%;
}

.guid_03:nth-child(2) {
	padding-right: 15px;
	box-sizing: content-box;
	padding-left: 2px;
}

.searchBox_wrap {
	position: relative;
	width: 177px;
}

.searchBox {
	background: url(../../../../resources/images/233429492113.png) no-repeat;
	width: 177px;
	height: 25px;
	border: 1px solid #c8c8c8;
	position: absolute;
	top: 10px;
}

.searchBox form {
	width: 100%;
	height: 100%;
}

.text {
	border: none;
	width: 155px;
	height: 25px;
	background: none;
	line-height: 14px;
	text-indent: 5px;
	vertical-align: top;
	font-size: 14px;
}

.btn {
	width: 20px;
	height: 100%;
	cursor: pointer;
	background: none;
	border: none;
	vertical-align: top;
	overflow: hidden;
	text-indent: -99999px;
}

.img_p {
	margin-top: 5%;
	padding: 5px;
	border: 1px solid RGB(237, 237, 239);
	max-width: 70%;
	height: 75%;
	display: inline-block;
}

.teacher_name {
	display: block;
	margin-top: 3%;
}

.mini_071 {
	display: inline-block;
	width: 14px;
	margin-top: 2px;
	height: 14px;
	vertical-align: top;
	background: url(../../../../resources/images/102_14.png) no-repeat -1100px 0;
}

.mini_072 {
	font-size: 12px;
	vertical-align: top;
}

.tr2 {
	height: 40px;
}

.tr3 {
	height: 220px;
	text-align: center;
	vertical-align: middle;
}

.tr1 {
	height: 50px;
	text-align: center;
	width: 100%;
	border-radius: 10px;
	border: 1px solid #333;
	cursor: pointer;
	vertical-align: middle;
	overflow: hidden;
}

.tr1 a div {
	height: 50px; /*设置div的大小*/
	text-align: center; /*文字水平居中对齐*/
	line-height: 50px; /*设置文字行距等于div的高度*/
	overflow: hidden;
}

.tr1 a {
	color: black;
	text-decoration: none;
}
.hovecolor{
	background: #169BD5;
}
/*
.tr1:hover {
	background: #169BD5;
} 

*/
/*鼠标悬停后表格背景颜色*/
.x_001 {
	border-left: 1px solid #666;
	border-bottom: 1px solid #666;
	border-right: 1px solid #666;
	border-top: 1px solid #666;
}

.x_002 {
	margin: 0px;
	padding: 0px;
	border-bottom: 1px solid #666;
}

.x_003 {
	border-right: 1px solid #666;
	margin: 0px;
	padding: 0px;
}
.x_003 a{
  text-decoration: none;
}
.x_004 {
	border-left: 1px solid #666;
}

.x_005 {
	    /* float: left; */
    height: 35px;
    text-align: center;
    /* margin-left: 45%; */
    color: #00CED1;
    /* margin-top: 1%; */
    vertical-align: middle;
    line-height: 35px;
}

.x_006 {
	float: right;
    margin-right: 3.5%;
    /* margin-top: 1%; */
    line-height: 35px;
}
.details{
 width: 100%;
 border-bottom: 1px solid #666;
 font-size: 16px;
}
.pull-down2{
height: 30px;
width: 25px;
margin-right: 10%;
float: right;
margin-top: 8px;
 }
.pull-down{
height: 30px;
width: 20px;
margin-right: 1%;
 }
 .pull-down-over{
 vertical-align:middle;
display:inline-block;
 background: URL(../images/black_hidden.png) no-repeat ; 
background-size:130%;
 }
 
 